#logo{
    width:200px;
    display: block;
    margin: auto;
    padding: 5px;
}
.m-center{
    display: block;
    margin: auto;
    text-align: center;
}
.panel{
    padding: 10px;
}
th{
    background-color: white;
}
td{
 color:white;
    border: solid 0.5px white;
}
ul,li{
    background-color:black;
    padding: 10px;
    list-style: none;
}
#table{
    color: orange;
}
td{
    background-color:black;
}



